body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  color: #828282;
  margin: 0;
}

#main {
  width: 626px;
  height: 486px;
  margin: 64px auto;
}

#main img {
  margin: 0 auto 32px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  line-height: 42px;
  font-weight: bold;
  color: #3F3D56;
  margin: 0 auto 16px;
}

h1 span {
  color: #EE24FF;
}

.line {
   margin: 0 auto 16px;
   width: 391px;
   height: 0;
   border: 1px solid #ECEFF2;
}

p {
width: 540px;
height: 107px;
margin: 16px auto 32px;
text-align: center;
text-justify: auto;
}


a {
  line-height: 23px;
}
  
#footer a + a {
    margin-left: 42px;
}

#footer, a {
 font-weight: bold;
 text-decoration-line: none;
 color: #3F3D56;
 
}

#wave {
  width: 100%;
  display: block;
}